<!DOCTYPE html>
<html>
  <head>
    <title>Uncappd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="https://uncapped-seed.s3-us-west-1.amazonaws.com/nav-logo.png" type="image/x-icon" >
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <%= javascript_include_tag 'application' %>

     <script type="text/javascript">
      window.grayStarImgURL = "<%= image_url('gray_star.jpeg') %>"
    </script>
    <script type="text/javascript">
      window.starImgURL = "<%= image_url('star.jpeg') %>"
    </script>
    <script type="text/javascript">
      window.mainImgURL = "<%= image_url('beer.jpg') %>"
    </script>
    <script type="text/javascript">
      window.genericBeerImgURL = "<%= image_url('generic_beer.jpg') %>"
    </script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('bottle.svg') %>"
    </script>
    <script type="text/javascript">
      window.phonesURL = "<%= image_url('phones.png') %>"
    </script>
    <script type="text/javascript">
      window.navLogoURL = "<%= image_url('navlogo.png') %>"
    </script>
    <script type="text/javascript">
      window.genericReviewURL = "<%= image_url('generic_review.jpeg') %>"
    </script>



     <% if logged_in? %>
      <script type="text/javascript">
      window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user
      ).html_safe %></script>
      <% end %> 

   <head>

  <body>
    <%= yield %>
  </body>
</html>
